*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
   background: #e74c3c;
}

.box{
    background: #2c3e50;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 40px;
}
.searchbar{
    border: none;
    background: none;
    outline: none;
    float:left;
    padding: 0;
    color:white;
    transition: 0.4s ease-in-out;
    line-height: 40px;
    width: 0;
    font-size: 18px;
}
.box:hover > .searchbar{
    width: 500px;
    padding: 4px 6px;
}

.box:hover > .search-button{
    background-color: white;
    color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#e84118;
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
}
